@import "../abstract/_colors.scss";
@import "../abstract/_mixins.scss";
.tablet {
  background: url("../../images/bg-tablet-pattern.svg") no-repeat;
  background-position: 190% 200%;
  background-size: 92%;
  position: absolute;
  width: 50%;
  height: 80vh;
  top: 0;
  right: 0;
  z-index: -1;
}
.container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px auto 30px auto;
  min-height: 60vh;

  .left {
    width: 65%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: left;
    gap: 1rem;
    h1 {
      font-size: 50px;
      color: $darkBlue;
    }
    p {
      color: $darkGrayishBlue;
    }
    .get-started-btn {
      width: 150px;
      border-radius: 50px;
      background-color: $brightRed;
      color: white;
      padding: 20px;
      border: none;
      cursor: pointer;
      font-weight: 600;
    }
  }
  .right {
    img {
      width: 100%;
    }
  }
}
@include media-lg {
  .tablet {
    width: 100%;
    height: 40vh;
  }
  .container {
    flex-direction: column-reverse;
    width: 95%;
    justify-content: center;
    gap: 1rem;

    .left {
      width: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  }
}

@media screen and (min-width: 1600px) {
  .container {
    gap: 2rem;

    .left {
      width: 40%;
    }
  }
}
